<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PScaleLoading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88F116AE1C83E84900F431B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F116C71C83E84A00F431B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F116D21C83E84A00F431B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
